@using Microsoft.AspNetCore.Identity
@using holiday.Areas.Identity.Data
@using holiday.Data
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager



@{


    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("/images/homepage.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: fit-content;
        min-height: 100vh;
    }
</style>

@if (SignInManager.IsSignedIn(User))
{

    <div class="text-center">
        <h1 class="display-4">Welcome, @UserManager.GetUserAsync(User).Result?.firstName</h1>
    </div>


    <p>@ViewBag.Id</p>
    <p>@UserManager.GetUserAsync(User).Result?.lastName</p>
    <p>@UserManager.GetUserAsync(User).Result?.allocation</p>

}

else

{
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card text-left">
        <div class="card-body ">
            <h5 class="card-title">A better way to track your teams holidays.</h5>
            <p class="card-text">Create an account to start managing you and your team's holiday better.</p>
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
</div>
    
}