@model Holidays.Models.Holiday

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Holiday</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HolidayName" class="control-label"></label>
                <input asp-for="HolidayName" class="form-control" />
                <span asp-validation-for="HolidayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="@User.Identity.Name" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Approved" class="form-control" value="0" />
                <span asp-validation-for="Approved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    <option value="Holiday">Holiday</option>
                    <option value="Medical">Medical</option>
                    <option value="Sick">Sick Leave</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
